<header class="navbar navbar-grey sticky-top flex-md-nowrap p-0">
  <h1 class="navbar-grey col-md-12 col-lg-12 mt-2 me-0 px-5">
    Pixel Painter
  </h1>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-1 d-md-block navbar-grey sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column mt-2">
          <li class="nav-item">
            <a class="nav-link">
              <div class="mb-3">
                <input type="color" id="colorpicker" class="w-100"
                       value="{{color}}" (change)="setColor($event)" (input)="ceck($event)">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-10 ms-sm-auto col-lg-11 px-md-4">
      <div class="text-center mt-4">
        <table class="pixel-table" (click)="$event.preventDefault()">
          <tbody>
          <tr *ngFor="let pixelRow of pixelGrid; let rowIndex = index;">
            <td *ngFor="let pixel of pixelRow; let pixelIndex = index;"
                class="pixel-span"
                [style]="pixelGrid[rowIndex][pixelIndex].colorClass"
                (mousedown)="paintPixel($event, rowIndex, pixelIndex)"
                (mouseover)="paintPixel($event, rowIndex, pixelIndex)">
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </main>
  </div>
</div>
